<head>
  <link rel="shortcut icon" href="{% static '../staticfiles/img/atfd.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static '../staticfiles/cliente/css/cliente.css' %}">
  <link rel="stylesheet" href="{% static '../staticfiles/css/product.css' %}">
  <link rel="stylesheet" href="{% static '../staticfiles/css/lightslider.css' %}">
  
  <script src="{% static ' ../staticfiles/js/Jquery.js' %}"></script>
  <script src="{% static '../staticfiles/js/lightslider.js' %}"></script>
  <script src="{% static '../staticfiles/cliente/js/cliente.js' %}"></script>
  <script src="{% static '../staticfiles/js/carrousel.js' %}"></script>
  <title>Mavelu - </title> <!--coloca o nome do produto dps do - da mavelu -->
</head>
<header class="desktopHeader">
    <div class="nav-container">
      <nav>
        <div class="align_nav">
          <img src="{% static '../staticfiles/img/atfd.png' %}" alt="Mavelu logo">
        </div>
        <ul class="nav_list_item">
          <li class="HeaderHoverFunction">
            <a href="http://" class="navbar">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
              </svg>
              <span>Categoria</span>              
            </a>
            <!-- categoria hover active -->

            <div class="invisibleBox">
              <ul class="categoryItens">
                <li class="headerCategoryItens"><a href="#"><img src="{% static '../staticfiles/img/icon/ball.png' %}" alt="bolas"><span>Bolas</span></a></li>
                <li class="headerCategoryItens"><a href="#"><img src="{% static '../staticfiles/img/icon/rubber-gloves.png' %}" alt="luvas"><span>Luvas</span></a></li>
                <li class="headerCategoryItens"><a href="#"><img src="{% static '../staticfiles/img/icon/diving-goggles.png' %}" alt="itens de Natação"><span>Natação</span></a></li>
                <li class="headerCategoryItens"><a href="#"><img src="{% static '../staticfiles/img/icon/dumbbell.png' %}" alt="Halteres e itens de malhar"><span>Anilhas</span></a></li>
                <li class="headerCategoryItens"><a href="#"><img src="{% static '../staticfiles/img/icon/bicycle.png' %}" alt="Itens para Ciclismo"><span>Ciclismo</span></a></li>
                <li class="headerCategoryItens"><a href="#"><img src="{% static '../staticfiles/img/icon/tennis-racket.png' %}" alt="Raquetes de diferentes modelos"><span>Raquetes</span></a></li>
                <li class="headerCategoryItens"><a href="#"><img src="{% static '../staticfiles/img/icon/football.png' %}" alt="Camisas de diferentes times"><span>Camisas de Time</span></a></li>
              </ul>
            </div>

          </li>
          <li>
            <a href="#" class="navbar">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z" />
              </svg>              
              <span>Contato</span>
            </a>
          </li>
          <li class="search_bar">
            <div class="search">
              <div class="icon"></div>
              <div class="input">
                <input type="text" placeholder="Buscar..." id="mysearch">
              </div>
              <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span>
            </div>
          </li>

          <li><a href="#" class="navbar"></a></li>
        </ul>
        <ul class="nav_main_functions">
          <li>
            <a href="" class="extra-buttons">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
              <span>Carrinho</span>              
            </a>
          </li>
          <li class="loginFunction">
            <a href="./login.html" class="extra-buttons">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
              </svg>
              <span>Login</span>
            </a>
            <div class="loginInvisibleBox">
              <div>
                <a href="./login.html">
                  <span>Cadastre-se</span>
                </a>
                <a href="./login.html">
                  <span>Iniciar Sessão</span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
</header>