<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="origin-trial" content="Az520Inasey3TAyqLyojQa8MnmCALSEU29yQFW8dePZ7xQTvSt73pHazLFTK5f7SyLUJSo2uKLesEtEa9aUYcgMAAACPeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZS5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZyIsImV4cGlyeSI6MTcyNTQwNzk5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mavelu Sports</title>
  <meta name="description" content="Material esportivo em geral ">
  <meta property="og:site_name" content="Mavelu Sports">
  <meta property="og:type" content="website"> 
  <meta property="og:title" content="Mavelu Sports">
  <meta property="og:description" content="Material esportivo em geral ">
  <meta property="og:url" content="https://www.mavelu.com.br">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../staticfiles/img/atfd.png" type="image/x-icon">
  <link rel="stylesheet" href="../staticfiles/cliente/css/cliente.css">
  <link rel="stylesheet" href="../staticfiles/css/product.css">
  <link rel="stylesheet" href="../staticfiles/css/lightslider.css">
  
  <script src="../staticfiles/js/Jquery.js"></script>
  <script src="../staticfiles/js/lightslider.js"></script>
  <script src="../staticfiles/cliente/js/cliente.js"></script>
  <script src="../staticfiles/js/carrousel.js"></script>
</head>
<body>
  <header class="desktopHeader">
    <div class="nav-container">
      <nav>
        <div class="align_nav">
          <img src="../staticfiles/img/atfd.png" alt="Mavelu logo">
        </div>
        <ul class="nav_list_item">
          <li class="HeaderHoverFunction">
            <a href="http://" class="navbar">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
              </svg>
              <span>Categoria</span>              
            </a>
            <!-- categoria hover active -->

            <div class="invisibleBox">
              <ul class="categoryItens">
                <li class="headerCategoryItens"><a href="#"><img src="../staticfiles/img/icon/ball.png" alt="bolas"><span>Bolas</span></a></li>
                <li class="headerCategoryItens"><a href="#"><img src="../staticfiles/img/icon/rubber-gloves.png" alt="luvas"><span>Luvas</span></a></li>
                <li class="headerCategoryItens"><a href="#"><img src="../staticfiles/img/icon/diving-goggles.png" alt="itens de Natação"><span>Natação</span></a></li>
                <li class="headerCategoryItens"><a href="#"><img src="../staticfiles/img/icon/dumbbell.png" alt="Halteres e itens de malhar"><span>Anilhas</span></a></li>
                <li class="headerCategoryItens"><a href="#"><img src="../staticfiles/img/icon/bicycle.png" alt="Itens para Ciclismo"><span>Ciclismo</span></a></li>
                <li class="headerCategoryItens"><a href="#"><img src="../staticfiles/img/icon/tennis-racket.png" alt="Raquetes de diferentes modelos"><span>Raquetes</span></a></li>
                <li class="headerCategoryItens"><a href="#"><img src="../staticfiles/img/icon/football.png" alt="Camisas de diferentes times"><span>Camisas de Time</span></a></li>
              </ul>
            </div>

          </li>
          <li>
            <a href="#" class="navbar">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z" />
              </svg>              
              <span>Contato</span>
            </a>
          </li>
          <li class="search_bar">
            <div class="search">
              <div class="icon"></div>
              <div class="input">
                <input type="text" placeholder="Buscar..." id="mysearch">
              </div>
              <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span>
            </div>
          </li>

          <li><a href="#" class="navbar"></a></li>
        </ul>
        <ul class="nav_main_functions">
          <li>
            <a href="" class="extra-buttons">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
              <span>Carrinho</span>              
            </a>
          </li>
          <li class="loginFunction">
            <a href="./login.html" class="extra-buttons">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
              </svg>
              <span>Login</span>
            </a>
            <div class="loginInvisibleBox">
              <div>
                <a href="./login.html">
                  <span>Cadastre-se</span>
                </a>
                <a href="./login.html">
                  <span>Iniciar Sessão</span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="phoneHeader"> 
    <ul>
      <li class="PhoneLogo">
        <a href="./home.html"><img src="../staticfiles/img/atfd.png" alt="logo"></a>
      </li>
      <li class="search_bar">
        <div class="search">
          <div class="icon"></div>
          <div class="input">
            <input type="text" placeholder="Buscar..." id="mysearch">
          </div>
          <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span>
          </div>
        </li>
    </ul>
  </div>

  <!-- inicio do conteudo da pagina -->
  <h1 class="desktopResponsive">Conheça as nossas promoções exclusivas</h1>
  <h1 class="phoneResponsive">Promoções</h1>
  <ul id="autoWidth" class="cs-hidden">
    <li class="item-a">
      <div class="box">
        <div class="slide-img">
          <img src="../staticfiles/1.jpg" alt="1"> 
          <!-- overlayer -->
          <div class="overlay">
            <!-- buy-btn -->
            <a href="./product.html" class="buy-btn">Comprar Agora</a>
          </div>
        </div>
        <!-- detail box -->
        <div class="detail-box">
          <div class="type">
            <a href="./product.html">Rabbed Cardigan</a>
            <span>Noe Arrival</span>
          </div>
          <!-- prices -->
          <a href="#" class="price">R$ 23,99</a>
        </div>
      </div>  
    </li>

    <li class="item-a">
      <div class="box">
        <div class="slide-img">
          <img src="../staticfiles/2.jpg" alt="2">
          <!-- overlayer -->
          <div class="overlay">
            <!-- buy-btn -->
            <a href="./product.html" class="buy-btn">Comprar Agora</a>
          </div>
        </div>
        <!-- detail box -->
        <div class="detail-box">
          <div class="type">
            <a href="./product.html">Rabbed Cardigan</a>
            <span>Noe Arrival</span>
          </div>
          <!-- prices -->
          <a href="#" class="price">R$ 23,99</a>
        </div>
      </div>  
    </li>

    <li class="item-a">
      <div class="box">
        <div class="slide-img">
          <img src="../staticfiles/3.jpg" alt="3">
          <!-- overlayer -->
          <div class="overlay">
            <!-- buy-btn -->
            <a href="./product.html" class="buy-btn">Comprar Agora</a>
          </div>
        </div>
        <!-- detail box -->
        <div class="detail-box">
          <div class="type">
            <a href="./product.html">Rabbed Cardigan</a>
            <span>Noe Arrival</span>
          </div>
          <!-- prices -->
          <a href="#" class="price">R$ 23,99</a>
        </div>
      </div>  
    </li>

    <li class="item-a">
      <div class="box">
        <div class="slide-img">
          <img src="../staticfiles/4.jpg" alt="4">
          <!-- overlayer -->
          <div class="overlay">
            <!-- buy-btn -->
            <a href="./product.html" class="buy-btn">Comprar Agora</a>
          </div>
        </div>
        <!-- detail box -->
        <div class="detail-box">
          <div class="type">
            <a href="./product.html">Rabbed Cardigan</a>
            <span>Noe Arrival</span>
          </div>
          <!-- prices -->
          <a href="#" class="price">R$ 23,99</a>
        </div>
      </div>  
    </li>

    <li class="item-a">
      <div class="box">
        <div class="slide-img">
          <img src="../staticfiles/5.jpg" alt="5">
          <!-- overlayer -->
          <div class="overlay">
            <!-- buy-btn -->
            <a href="./product.html" class="buy-btn">Comprar Agora</a>
          </div>
        </div>
        <!-- detail box -->
        <div class="detail-box">
          <div class="type">
            <a href="./product.html">Rabbed Cardigan</a>
            <span>Noe Arrival</span>
          </div>
          <!-- prices -->
          <a href="#" class="price">R$ 23,99</a>
        </div>
      </div>  
    </li>

    <li class="item-a">
      <div class="box">
        <div class="slide-img">
          <img src="../staticfiles/6.jpg" alt="6">
          <!-- overlayer -->
          <div class="overlay">
            <!-- buy-btn -->
            <a href="./product.html" class="buy-btn">Comprar Agora</a>
          </div>
        </div>
        <!-- detail box -->
        <div class="detail-box">
          <div class="type">
            <a href="./product.html">Rabbed Cardigan</a>
            <span>Noe Arrival</span>
          </div>
          <!-- prices -->
          <a href="#" class="price">R$ 23,99</a>
        </div>
      </div>  
    </li>

    <li class="item-a">
      <div class="box">
        <div class="slide-img">
          <img src="../staticfiles/7.jpg" alt="7">
          <!-- overlayer -->
          <div class="overlay">
            <!-- buy-btn -->
            <a href="./product.html" class="buy-btn">Comprar Agora</a>
          </div>
        </div>
        <!-- detail box -->
        <div class="detail-box">
          <div class="type">
            <a href="./product.html">Rabbed Cardigan</a>
            <span>Noe Arrival</span>
          </div>
          <!-- prices -->
          <a href="#" class="price">R$ 23,99</a>
        </div>
      </div>  
    </li>

    <li class="item-a">
      <div class="box">
        <div class="slide-img">
          <img src="../staticfiles/8.jpg" alt="8">
          <!-- overlayer -->
          <div class="overlay">
            <!-- buy-btn -->
            <a href="./product.html" class="buy-btn">Comprar Agora</a>
          </div>
        </div>
        <!-- detail box -->
        <div class="detail-box">
          <div class="type">
            <a href="./product.html">Rabbed Cardigan</a>
            <span>Noe Arrival</span>
          </div>
          <!-- prices -->
          <a href="#" class="price">R$ 23,99</a>
        </div>
      </div>  
    </li>

  </ul>
  <!-- carrosel de ofertas -->
  <div class="ourProducts">
    <h2>Mais produtos...</h2>
  </div>
  <section class="mainSection">
    <main>
      <!-- products template -->
      <ul id="autoWidth" class="allProducts cs-hidden" >
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/08feb7.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
  
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/08feb7.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>

        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/08feb7.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>

        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/08feb7.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>

        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/08feb7.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>

        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/08feb7.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>

        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/08feb7.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>

        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/08feb7.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>

        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/08feb7.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>

        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/08feb7.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>

        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/08feb7.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>

        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/08feb7.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
      </ul>
      
    </main>
    <div class="categoryRow">
      <h3>
        Explore por categoria
      </h3>
      <section class="categorySection">
        <ul id="productSlider" class="carrosel">

          <li class="containerCarrosel eachCategory">
            <a href="#" class="slide-img" id="img">
              <img src="../staticfiles/temp/websiteplanet-dummy-400X400.png" alt="">
            </a>
          </li>

          <li class="containerCarrosel eachCategory">
            <a href="#" class="slide-img" id="img">
              <img src="../staticfiles/temp/websiteplanet-dummy-400X400.png" alt="">
            </a>
          </li>
          
          <li class="containerCarrosel eachCategory">
            <a href="#" class="slide-img" id="img">
              <img src="../staticfiles/temp/websiteplanet-dummy-400X400.png" alt="">
            </a>
          </li>

          <li class="containerCarrosel eachCategory">
            <a href="#" class="slide-img" id="img">
              <img src="../staticfiles/temp/websiteplanet-dummy-400X400.png" alt="">
            </a>
          </li>

          <li class="containerCarrosel eachCategory">
            <a href="#" class="slide-img" id="img">
              <img src="../staticfiles/temp/websiteplanet-dummy-400X400.png" alt="">
            </a>
          </li>

          
          <li class="containerCarrosel eachCategory">
            <a href="#" class="slide-img" id="img">
              <img src="../staticfiles/temp/websiteplanet-dummy-400X400.png" alt="">
            </a>
          </li>

          
          <li class="containerCarrosel eachCategory">
            <a href="#" class="slide-img" id="img">
              <img src="../staticfiles/temp/websiteplanet-dummy-400X400.png" alt="">
            </a>
          </li>

        </ul>
      </section>
    </div>
  </section> 
  <div class="mostSelledOrg">
    <section class="mostSelled">
      <h3>Mais Vendidos</h3>
      <ul id="autoWidth" class="allProducts cs-hidden" >
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/black_friday_banner_17.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
  
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/black_friday_banner_17.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
  
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/black_friday_banner_17.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
  
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/black_friday_banner_17.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
  
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/black_friday_banner_17.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
  
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/black_friday_banner_17.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
  
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/black_friday_banner_17.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
  
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/black_friday_banner_17.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
  
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/black_friday_banner_17.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
  
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/black_friday_banner_17.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
  
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/black_friday_banner_17.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
  
        <li class="eachProduct item-a">
          <a href="#">
            <img src="../staticfiles/img/products/black_friday_banner_17.jpg" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>
  <footer>
    <div class="category">

      <ul class="footerListInstitucional">
        <li class="footerListItem">
          <span>
            Institucional
          </span>
        </li>
        <li class="footerListItem">
          <a href="" class="FooterLinks">
            Termos de privacidade
          </a>
        </li>
        <li class="footerListItem">
          <a href="" class="FooterLinks">
            Termos de uso
          </a>
        </li>
        <li class="footerListItem">
          <a href="" class="FooterLinks">
            Política de Devolução/Reembolso
          </a>
        </li>
        <li class="footerListItem">
          <a href="" class="FooterLinks">
            Termos e Condições
          </a>
        </li>
      </ul>

    </div>

    <div class="category">

      <ul class="footerListContact">
        <li class="footerListItem">
          <span>
            Contato
          </span>
        </li>
        <li class="footerListItem">
          <a href="" class="FooterLinks">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
            </svg>
            <span>
              (86) 3221-2003
            </span>            
          </a>
        </li>
        <li class="footerListItem">
          <a href="" class="FooterLinks">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
            </svg>
            <span>
              financeiromavelu2@outlook.com
            </span>            
          </a>
        </li>
        <li class="footerListItem">
          <a href="" class="FooterLinks">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
            <span>LOJA CENTRO R. Eliseu Martins, 1198 - Centro (Sul), Teresina - PI, 64000-120</span>            
          </a>
        </li>
      </ul>

    </div>

    <div class="category">

      <ul class="footerList">
        <li class="footerListItem">
          <span>
            Redes sociais
          </span>
        </li>
        <li class="footerListItem">
          <a href="" class="FooterLinks">
            <img src="../staticfiles/img/icon/facebookIcon.png" alt="">
            <span>Facebook</span>
          </a>
        </li>
        <li class="footerListItem">
          <a href="" class="FooterLinks">
            <img src="../staticfiles/img/icon/instagramIcon.png" alt="">
            <span>Instagram</span>
          </a>
        </li>
        <li class="footerListItem">
          <a href="" class="FooterLinks">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z" />
            </svg>
            <span>Se Inscreva na nossa newsletter!</span>            
          </a>
        </li>
      </ul>

    </div>
  </footer>
</body>
</html>