{% extends "base.html" %}
{% load static %}

{% block conteudo %}


  <div class="phoneHeader"> 
 
  </div>

  <!-- inicio do conteudo da pagina -->
  <h1 class="desktopResponsive">Conheça as nossas promoções exclusivas</h1>

  <ul id="autoWidth" class="cs-hidden">
    <li class="item-a">
      <div class="box">
        <div class="slide-img">
          <img src="{% static '1.jpg' %}" alt="1"> 
          <!-- overlayer -->
          <div class="overlay">
            <!-- buy-btn -->
            <a href="./product.html" class="buy-btn">Comprar Agora</a>
          </div>
        </div>
        <!-- detail box -->
        <div class="detail-box">
          <div class="type">
            <a href="./product.html">Rabbed Cardigan</a>
            <span>Noe Arrival</span>
          </div>
          <!-- prices -->
          <a href="#" class="price">R$ 23,99</a>
        </div>
      </div>  
    </li>
  </ul>


<!--Primeiro for acima-->
  <!-- carrosel de ofertas -->
  <div class="ourProducts">
    <h2>Mais produtos...</h2>
  </div>
  <section class="mainSection">
    <main>
      <!-- products template -->
      <ul id="autoWidth" class="allProducts cs-hidden" >
        <li class="eachProduct item-a">
          <a href="./product.html">
            <img src="{% static 'img/products/08feb7.jpg' %}" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
      </ul>
      
    </main>
    <div class="categoryRow">
      <h3>
        Explore por categoria
      </h3>
      <section class="categorySection">
        <ul id="productSlider" class="carrosel">

          <li class="containerCarrosel eachCategory">
            <a href="#" class="slide-img" id="img">
              <img src="{% static 'temp/websiteplanet-dummy-400X400.png' %}" alt="">
            </a>
          </li>
        </ul>
      </section>
    </div>
  </section> 
  <div class="mostSelledOrg">
    <section class="mostSelled">
      <h3>Mais Vendidos</h3>
      <ul id="autoWidth" class="allProducts cs-hidden" >
        <li class="eachProduct item-a">
          <a href="./product.html">
            <img src="{% static 'img/products/black_friday_banner_17.jpg' %}" alt="">
            <span class="productDiscount">-37% OFF</span>
            <span class="productDescription">
              Tênis Nike Run Swift 3 Masculino
            </span>
            <div class="prices">
              <span class="productOriginalPrice">
                R$ 346,34
              </span>
              <span class="productNewPrice">
                R$ 233,54 No Pix
              </span>
              <span class="ProductInstallments">
                ou 3x de 75,99
              </span>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>
  {% endblock %}