<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="origin-trial" content="Az520Inasey3TAyqLyojQa8MnmCALSEU29yQFW8dePZ7xQTvSt73pHazLFTK5f7SyLUJSo2uKLesEtEa9aUYcgMAAACPeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZS5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZyIsImV4cGlyeSI6MTcyNTQwNzk5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mavelu Sports</title>
        <meta name="description" content="Material esportivo em geral ">
        <meta property="og:site_name" content="Mavelu Sports">
        <meta property="og:type" content="website"> 
        <meta property="og:title" content="Mavelu Sports">
        <meta property="og:description" content="Material esportivo em geral ">
        <meta property="og:url" content="https://www.mavelu.com.br">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="shortcut icon" href="{% static '../staticfiles/img/atfd.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static '../staticfiles/cliente/css/cliente.css' %}">
        <link rel="stylesheet" href="{% static '../staticfiles/css/product.css' %}">
        <link rel="stylesheet" href="{% static '../staticfiles/css/lightslider.css' %}">
        
        <script src="{% static ' ../staticfiles/js/Jquery.js' %}"></script>
        <script src="{% static '../staticfiles/js/lightslider.js' %}"></script>
        <script src="{% static '../staticfiles/cliente/js/cliente.js' %}"></script>
        <script src="{% static '../staticfiles/js/carrousel.js' %}"></script>
      </head>
<body>
    <header>
        <div class="backHomeLoginPage">
            <a href="./home.html"><img src="{% static '../staticfiles/img/return.png' %}" alt="">Voltar</a>
            <div class="backHomeButton">
                <img src="{% static '../staticfiles/img/atfd.png' %}" alt="logo">
            </div>
        </div>
    </header>
    <main class="mainLoginSection">
        <section class="loginLogout">
            <form action="#" method="post" class="LoginForm container widthPattern">
                <h1>Faça o seu login</h1>
                <div class="emailForm input-group">
                    <label class="input-group__label" for="Email">Email</label>
                    <input class="input-group__input" type="email" name="Email" id="Email myInput" placeholder="Insira o seu Email" required>
                </div>
                <div class="senhaForm input-group">
                    <label class="input-group__label" for="senhaForm">Senha</label>
                    <input class="input-group__input" type="password" name="senhaForm" id="senhaForm myInput" placeholder="Crie a sua senha" required>
                </div>
                <div class="input-group">
                    <button type="submit" class="SubmitButton">Enviar</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>