
{% extends "base.html" %}
{% load static %}

{% block conteudo %}
    <div class="productContainer">
        <main>
            <section class="productImageContainer">
                <div class="containerImg">
                  <!-- coloca o link da imagem do produto -->
                    <img src="{% static '../staticfiles/products/black_friday_banner_17.jpg' %}" alt="">
                    <a href="#">
                        <div class="productResumedInfo">
                          <!-- coloca o nome do produto -->
                          <span>
                              Tênis Nike Run Swift 3 Masculino
                          </span>
                          <!-- coloca o preço do produto -->
                          <span>
                            R$ 324,99
                          </span>
                        </div>
                    </a>
                </div>
            </section>
            <section class="productDetailContainer">

                <div class="containerInfo">
                  <p>Subtotal <span>R$ 324,99</span></p>
                  <form action="#" id="stripe-login">
                    <label for="DiscontoCupom">Adicionar cupom de desconto</label>
                    <input type="text" name="DiscontoCupom" id="DiscontoCupom">
                    <button type="submit" class="button_slide slide_right">Finalizar compra</button>  

                  </form>
                </div>
            </section>
        </main>
    </div>
{% endblock %}